---
import Tags from '@components/Tags.astro';
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';
const { 
  title,
  description,
  author,
  pubDate,
  tags,
  image,
  imageAlt,
 } = Astro.props.frontmatter;
---
<BaseLayout pageTitle={title} description={description}>
  <div class="flex flex-col gap-8 mt-4 mb-12">
    { image && (
      <Image class="py-2" src={image} alt={imageAlt} />
    )}
    <div class="">
      <em class="text-lg">{description}</em>
    </div>
    <div class="text-sm">
      <div>Written by <a href={author.url} target="_blank">{author.name}</a> on {pubDate.toLocaleDateString()}</div>
    </div>
    <div class="flex gap-6 w-full overflow-auto">
      <Tags tags={tags} />
    </div>
  </div>
  <!-- <div class="prose blog-post mb-16 "> -->
  <div class="prose dark:prose-invert
    max-w-[1024px]
    prose-h1:font-bold prose-h1:text-xl
    prose-headings:no-underline
    prose-a:font-black prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-a:no-underline
    prose-p:text-justify 
    prose-blockquote:bg-primary-100 prose-blockquote:border-l-4 prose-blockquote:border-primary-500 prose-blockquote:text-primary-600 prose-blockquote:px-4 prose-blockquote:py-2
    prose-img:rounded-sm prose-img:w-full md:prose-img:my-24
    prose-code:rounded-xl
    m-auto
    border-y border-dashed py-8 my-2 border-black/20 dark:border-white/20
  ">
    <slot />
  </div>
  <div 
    class="text-center mt-32 mb-16">
    Written by <a href={author.url} target="_blank" rel="noreferrer noopener">{author.name}</a> on {pubDate.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  })}</div>
</BaseLayout>